.campo {
  display: block;
  position: relative;
  color: var(--colorSinFoco);
  background-color:
    var(--colorCampo);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 1rem 0;
  padding: 1.25rem 0 0 0;
}

.campo label {
  position: absolute;
  top: 0.5rem;
  font-size: 0.75rem;
  left: 1rem;
  color: var(--colorSinFoco);
}

.campo>output,
.campo input {
  display: block;
  box-sizing: border-box;
  padding:
    0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
}

.campo input {
  background-color: transparent;
  font-family: var(--font-family);
  border: none;
  border-bottom:
    2px solid var(--colorSinFoco);
  resize: none;
  outline: none;
  width: 100%;
}

.campo small {
  display: block;
  font-size: 0.75rem;
  padding-left: 1rem;
  background-color:
    var(--colorContenidoFondo);
}

.campo :focus+label {
  color: var(--colorConFoco);
}

.campo select:focus,
.campo input:focus,
.campo textarea:focus {
  border-bottom-color:
    var(--colorConFoco);
}

.campo .error {
  border-bottom-color:
    var(--colorError);
}

.campo .error+label,
.campo .error~small {
  color: var(--colorError);
}