html {
  --colContenido: black;
  --colContenidoFondo: white;
  --colPrimario: black;
  --colPrimarioFondo: #81D4FA;
  --colActive: #4646462c;
  --colCampoSinFoco: gray;
  --colCampoFoco: #01579B;
  --colError: #b00020;
  --colCampoFondo: #F5F5F5;
  --colCampoFondoHover: #EEEEEE;
  --colCampoFondoFocus: #E0E0E0;
  --colCheckOn: #0277BD;
  --colCheckFondo: #BDBDBD;
  /* Los 2 primeros fonts son para
   * apple y "Roboto" es para
   * Android. */
  --fontFamily: -apple-system,
    BlinkMacSystemFont, Roboto,
    sans-serif;
  color: var(--colContenido);
  font-family: var(--fontFamily);
  background-color:
    var(--colContenidoFondo);
}
